	
    <div class="addev-form">
    	<form action="" method="post">{% csrf_token %}
            <table>    
                    <tr>
                        <td colspan="1"><label for="name"><p>Name:</p></label></td>
                        <td colspan="3"><input type="text" name="name" id="name" value="{{ name }}" required></td>
                    </tr>
                    <tr>
                        <td colspan="1"><label for="place"><p>Place:</p></label></td>
                        <td colspan="3"><input type="text" name="place" id="place"></td>
                    </tr>
                    <tr>
                        <td colspan="1"><label for="date"><p>Date:</p></label></td>
                        <td colspan="3"><input type="date" name="date" id="date" required></td>
                    </tr>
                    <tr>
                        <td colspan="1"><label for="from"><p>From:</p></label></td>
                        <td colspan="1"><input type="time" name="start_time" id="from" required></td>
                        <td colspan="1"><label for="to"><p>To:</p></label></td>
                        <td colspan="1"><input type="time" name="end_time" id="to" required></td>
                    </tr>
                    <tr>
                        <td colspan="1"><label for="note"><p>Note:</p></label></td>
                        <td colspan="3"><textarea name="note" id="note"></textarea></td>
                    </tr>
                    <tr>
                        <td colspan="1"></td>
                        <td colspan="3"><input type="submit" name="add_event" value="save" class="save-buttom"></td>
                    </tr> 
            </table>
    	</form>
	</div>
