body{
	padding:0;
	margin:0;
	background-image:
		linear-gradient(
			#393939 0%,
			#393939 50%,
			#ECECEC 50%,
			#ECECEC 100%
		)
}
.log-inp {
	position:absolute;
	height:100%;
	width:30%;
	min-width:300px;
	border:1px solid yellow;
	margin:0;
	background-color:white;
	-webkit-box-shadow:  -30px 0px 30px -19px rgba(0,0,0,0.75);
	-moz-box-shadow:  -30px 0px 30px -19px rgba(0,0,0,0.75);
	box-shadow:  -30px 0px 30px -19px rgba(0,0,0,0.75);
}

li{
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid blue;
	width:200px;
}

li:last-child{
	width:70px;
}
ul{
	list-style:none;
}

input[type = "text"],
input[type = "password"]{
	width:200px;
	height:30px;
}

input[type = "submit"]{
	width:70px;;
}

.reg-link {
	position: absolute;
	width: 50px;
	margin:auto;
	bottom: 3px;
	border:1px dashed green;
}

