body {
    margin: 0;
}
#header1 {
    background-color: #393939;
    height: 50px;
    width: 100%;
}

#header2 {
    background-color: #ECECEC;
    height: 50px;
    width: 100%;
}

#header1 h1{
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    margin-left: 3%;
}
#header2 p{
    font-family: 'Open Sans', sans-serif;
    padding-top: 1%;
    margin-left: 10%;
    margin-top:0;
}
#header2 h2{
    font-family: 'Open Sans', sans-serif;
    padding-top: 0.5%;
    margin-left: 3%;
    margin-top: 0;
    color: #363636;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    font-family: 'Open Sans', sans-serif;
    color: red;
    display: block;
    font-size: 10px;
    margin: 0 0 0;
    padding: 4px 5px;
}

.inp_style input{
    width: 402px;
    height: 23px;
}
.inp_style textarea{
    width: 402px;
    height: 23px;
}

.inp_style label{
    font-family: 'Open Sans', sans-serif;
    size: 14px;
}

p {
    font-family: 'Open Sans', sans-serif;
}
