{% extends "base.html" %}
{% block title %}<title>add event</title>{% endblock %}
{% block header %}
    <h2>Add event</h2>
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }}
        </p>
    {% endif %}
	<div class="addev-form">
    	<form action="" method="post">{% csrf_token %}
            <ul>    
                    <li><input type="text" name="name" id="name"></li>
                    <li><input type="text" name="place" id="place"></li>
                    <li><input type="date" name="date" id="date"></li>
                    <li><input type="time" name="start_time" id="from"></li>
                    <li><input type="time" name="end_time" id="to"></li>
                    <li><textarea name="note" id="note"></textarea></li>
                
        	</ul>
        	<input type="submit" name="add_event" value="save" class="save-buttom">
    	</form>
	</div>
{% endblock %}
