<!DOCTYPE html>
<html>
<head>
    {% block title %}{% endblock %}
    <link href="/static/style.css" rel="stylesheet" type="text/css"media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	{% block links %}
	{% endblock %}
</head>

<body>
    <header>
		<div class="header1">
        	<a href="/" class="logo"><h1>Simple Calendar</h1></a>
			{% block main-header %}
			{% endblock %}
		</div>
    	<div class="header2">
			<div class="header2_content">
        		{% block header %}
				{% endblock %}
			</div>
		</div>
    </header>
    {% block content %}
		<main>
		</main>

	{% endblock %}
	
	{% block footer %}
		<footer>
		</footer>
	{% endblock %}
</body>
</html>

