{% extends "base.html" %}

{% block title %}<title> main </title>{% endblock %}

{% block main-header %} 
	<div class="prof-menu">
		{% if user.is_authenticated %}
			<ul>
				<li><a href="/accounts/profile/" class="uname">{{ user.username }}</a></li>
				<li><a href="/accounts/logout/" class="log">logout</a></li>
			</ul>
		{% else %}
			<ul>
				<li><a href="/accounts/login/" class="log">login</a></li>
				<li><a href="/accounts/register/">sing up</a></li>
			</ul>
		{% endif %}
	</div> 
{% endblock %}
{% block header-center %}
<div class="event-output-container">
    <ul>
        <li><a href="/day/{{ now_link }}/">Day</a></li>
        <li><a href="#">Week</a></li>
        <li><a href="#">Month</a></li>
    </ul>
</div>
     
{% endblock %}
{% block header %}
	<div class="addev-button">
		<a href="/add_event/">add event</a></li>
	</div>
{% endblock %}


{% block content %}
{% endblock %}


